<ValidatedInput FieldName="{{FIELD_NAME}}" Value="@entity.{{FIELD_NAME}}">
                <RadzenFormField Text="{{FIELD_DISPLAY}}" Style="width: 100%">
                    <RadzenDatePicker @bind-Value="entity.{{FIELD_NAME}}" 
                                      ShowTime="{{SHOW_TIME}}"
                                      DateFormat="{{DATE_FORMAT}}"
                                      Disabled="@(!CanEdit)" />
                </RadzenFormField>
            </ValidatedInput>