@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<RadzenButton Text="Button" />
<RadzenButton Text="Primary" ButtonStyle="ButtonStyle.Danger" />
<RadzenRow AlignItems="AlignItems.End" Wrap="FlexWrap.Wrap" Gap="1rem" class="rz-p-sm-12">
    <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
        <RadzenFormField Text="Outlined/Default" Style="width: 100%;">
            <RadzenTextBox  />
        </RadzenFormField>
    </RadzenColumn>
</RadzenRow>