@using Frontend.Components.Auth
@using Frontend.Components.Base
@using Frontend.Layout.Menu
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Gap="1rem">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
                <RadzenText TextStyle="TextStyle.H4" Style="margin: 0;">Sistema Empresarial</RadzenText>
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.25rem">
                <!-- Theme Toggle Component -->
                <ThemeToggle />
                
                <AuthorizeView>
                    <Authorized>
                        <RadzenProfileMenu Click="@ProfileMenuClick">
                            <Template>
                                <span style="white-space: nowrap;">@GetDisplayName()</span>
                            </Template>
                            <ChildContent>
                                @if (HasAdminPermissions())
                                {
                                    <RadzenProfileMenuItem Path="/admin/systemuser/list" Icon="group" Text="Usuarios" Visible=@(AuthService.HasAnyPermission(new[] { "SYSTEMUSER.VIEW", "SYSTEMUSER.VIEWMENU" })) />
                                    <RadzenProfileMenuItem Path="/admin/systemrole/list" Icon="admin_panel_settings" Text="Roles" Visible=@(AuthService.HasAnyPermission(new[] { "SYSTEMROLE.VIEW", "SYSTEMROLE.VIEWMENU" })) />
                                    <RadzenProfileMenuItem Path="/admin/systempermission/list" Icon="verified_user" Text="Permisos" Visible=@(AuthService.HasAnyPermission(new[] { "SYSTEMPERMISSION.VIEW", "SYSTEMPERMISSION.VIEWMENU" })) />
                                }
                                
                                <RadzenProfileMenuItem Text="Cerrar Sesión" Value="Logout" Icon="power_settings_new" />
                            </ChildContent>
                        </RadzenProfileMenu>
                    </Authorized>
                    <NotAuthorized>
                        <RadzenLink Path="/" Text="Iniciar Sesión" />
                    </NotAuthorized>
                </AuthorizeView>
            </RadzenStack>
        </RadzenStack>
    </RadzenHeader>
    
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <MenuUnificado />
    </RadzenSidebar>
    
    <RadzenBody Style="padding: 0px !important">
        @Body
    </RadzenBody>
    
 
</RadzenLayout>

<RadzenComponents @rendermode="RenderMode.InteractiveWebAssembly" />
